.Wt-ltr {
    width: 545px;
}

.progress {
    width: 100%;
    height: 40px;
}

.progress .bar-label {
    font-size: 2em;
    top: 0.5em;
}

.info-box {
    width: 100%;
    margin: 3px;
}

.Wt-domRoot input {
    width: 135px;
    height: 25px;
    margin: 5px;
    padding: 3px;
    border-radius: 4px;

}

.Wt-domRoot button {
    width: 99px;
    height: 32px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.Wt-domRoot {
    padding: 5px;
}